@import './index.css';

.page-title {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    width: max-content;
    margin-bottom: 20px;
    padding: 7px 15px;
}

.content-container {
    display: flex;
    gap: 30px;
    align-items: start;
}

.content-container>.content {
    border: 2px solid var(--secondary-color);
    background-color: #FFF;
    color: var(--secondary-color);
    border-radius: 5px;
    padding: 20px;
}

.content-container>.content.table {
    flex: 1 1 auto;

    max-height: max-content;
    width: 90%;
}

.content-container>.content.table a {
    text-decoration: none;
}

.content-container>.content.table #delete-form {
    display: inline;
}
.content-container>.content.table #delete-form button {
    background-color: transparent;
    border: 0;
    color: red
}

.content-container>.content.crud {
    color: var(--secondary-color);
}

.content-container>.content.crud h4 {
    margin-bottom: 0;
}

.content-container>.content.crud p.warning {
    margin-bottom: 20px;
}

.content-container>.content.crud form {
    width: 450px;
}

.content-container>.content.crud form .actions-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-container .content-title {
    font-size: 24px;
    font-weight: bold;
}

.content-container nav .pagination {
    margin: 0;
}

.content-container nav .pagination .page-item {
    padding: 0;

    .page-link {
        margin: 0;
    }
}

.content.error {
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content.error button {
    background-color: transparent;
    border: 0;
    color: red;
    display: flex;
    align-items: end;

    svg {
        fill: red
    }
}