@import url('https://fonts.cdnfonts.com/css/rogan');
@import './css-reset-jc.css';

:root {
    --primary-color: #FFFAFA;
    --secondary-color: #606C38;
    --secondary-dark-color: #283618;
    --accent-color: #DDA15E;
    --accent-dark-color: #BC6C25;
}

* {
    padding: 0;
}

body {
    font-family: 'Rogan', sans-serif !important;
    min-height: 100dvh;
}

body.app {
    display: grid !important;
    grid-template-columns: auto 1fr;
}

body.app main {
    background-color: var(--primary-color) !important;
    padding: 30px 40px 30px;
}